extends layout
block content
    ul.uk-list.uk-list-striped
        each list in data.length ? data : ['Tidak ada tempat yang ditemukan']
            li
                h5 #{list.name}
                p #{list.location.formattedAddress}
                - url = list.id;
                a(target='blank' href='/venue/' + url) Lihat Detail
