extends layout
block content
    div.uk-light(class='uk-child-width-1-1@s', uk-grid='')
        div
            div.uk-background-cover.uk-height-medium.uk-panel.uk-flex.uk-flex-right.uk-flex-middle(style='background-image: url(/images/banner.jpg);')
                div.banner
                    p.uk-h1
                        b Temukan Tempat Sarapan Favoritmu
    div.uk-grid-collapse.uk-text-center(class='uk-child-width-expand@s', uk-grid='')
        div.separator-banner
    div.uk-grid-collapse.uk-text-center(class='uk-child-width-expand@s', uk-grid='')
        div
            .uk-background-muted.uk-padding
                p.uk-h1(uk-icon="icon: search; ratio: 4")
                p.uk-h2 Cari
        div
            .uk-background-temukan.uk-padding.uk-light
                p.uk-h1(uk-icon="icon: check; ratio: 4")
                p.uk-h2 Temukan
        div
            .uk-background-sarapin.uk-padding.uk-light
                p.uk-h1(uk-icon="icon: heart; ratio: 4")
                p.uk-h2 Sarapan
