doctype html
html
    head
        title Temukan tempat Sarapan favoritmu
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/uikit.min.css')
        link(rel='stylesheet' href='/css/app.css')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/uikit.min.js')
    body
        div
            div#container.uk-navbar-container.tm-navbar-container

                nav.uk-navbar-container.uk-margin(uk-navbar)
                    div.uk-navbar-left
                        a.uk-navbar-item.uk-logo(href='/')
                            img(src='images/logo/sarapin.png' width='170')
                    div.uk-navbar-center
                        div.uk-navbar-item
                            form.uk-grid.uk-grid-small(method='get' action='/cari')
                                div.uk-width-1-3.uk-grid-margin.uk-first-column
                                    input.uk-input.uk-form-width-large(type='text' placeholder='Kata Kunci')
                                div.uk-width-1-3.uk-grid-margin
                                    input.uk-input.uk-form-width-large(type='text' placeholder='Cari di Kota')
                                div.uk-width-1-3.uk-grid-margin
                                    button.uk-button.uk-button-default Temukan
                    div.uk-navbar-right
                        ul.uk-navbar-nav
                            li
                                if accessToken
                                    a(href='/profile') Profile
                                else
                                    a(href='/auth') Login


                div#app(uk-grid)
                    div.uk-width-1-1
                        block content
                footer
                    div.footer
                        p Copyright &copy; 2017
