doctype html
html
    head
        title Temukan tempat Sarapan favoritmu
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/uikit.min.css')
        link(rel='stylesheet' href='/css/app.css')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/uikit.min.js')
    body
        div
            div#container.uk-navbar-container.tm-navbar-container

                nav.uk-navbar-container.uk-margin(uk-navbar)
                    div.uk-navbar-left
                        a.uk-navbar-item.uk-logo(href='/')
                            img(src='images/logo/sarapin.png' width='170')
                    div.uk-navbar-center
                        div.uk-navbar-item
                            form
                                input.uk-input.uk-form-width-medium(type='text' placeholder='Cari')
                                button.uk-button.uk-button-default Search
                    div.uk-navbar-right
                        ul.uk-navbar-nav
                            li
                                a(href='/profile') Profile

                div#app(uk-grid)
                    div.uk-width-1-4
                        div.uk-card.uk-card-default.uk-width-1-1
                            div.uk-card-header
                                div.uk-grid-small.uk-flex-middle(uk-grid)
                                    div
                                        img.uk-border-circle(width='100' height='100' src='images/avatar.png')
                                    div
                                        h3.k-card-title.uk-margin-remove-bottom Harry
                                div.uk-card-body
                                  p aku seorang pelaut
                    div.uk-width-3-4
                        block content
                footer
                    div.footer
                        p Copyright &copy; 2017
